h1 {
    text-align: center;
    color: red;
    font-size: 60px;
}
.caja {
    padding: 10px;
    color: white;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 5px auto;
    font-size: 30px;
    float: left;
}
.rojo {
    background-color: crimson;
}
.rosa {
    background-color: deeppink;
}
.rgb {
    background-color: rgb(131, 56, 236);
}
.rgba { /* a = alpha de transparencia*/
    background-color: rgb(131, 56, 236, .5); /* .5, .6 , .7 etc.*/
}
.hexadecimal {
    background-color: #0091ad;
}
.hexa_transp {
    background-color: #0090ad80;
}
.hsl {
    background-color: hsl(195, 100%, 50%);
}
.hsla {
    background-color: hsla(195, 100%, 50%, .5);
}