h1 {
    text-align: center;
}
.punteado {
    border-style: dotted;
}
.descontinuo {
    border-style: dashed;
}
.solido {
    border: 8px solid red;
}
.double {
    border: 5px double;
}
.surco {
    border: 10px groove;
    /*border-width: 10px;
    border-style: groove;*/
}
.cresta {
    border: 10px ridge;
}
.recuadro {
    border: 10px inset;
}
.outset {
    border: 10px outset; /* Recuadro Inverso*/
}
.sin_Borde {
    border: none;
}
.oculto {
    border: hidden;
}
.mixto {
    border-style: dotted solid dashed double;
}